* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
}

/* Emergency Component */
.emerg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: white;
  font-size: larger;
}

.emer_main {
  background-color: #0a84ff;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;

}

/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  padding: 14px 40px;
  gap: 50px;
  width: 100%;
  box-sizing: border-box;
}

.logo-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  color: #0f2a44;
  margin-right: 350px;
  position: relative;
  left: 100px;
}

.nav-link {
  color: #64748b;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.nav-link:hover {
  color: #0a84ff;
}

.nav-link.active {
  color: #0a84ff;
  font-weight: 600;
}

.apn-btn {
  margin-left: 20px;
  padding: 12px 32px;
  border-radius: 8px;
  background-color: #0a84ff;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  left: 300px;
}

.apn-btn:hover {
  background-color: #006edc;
}


/* First in Home page */
.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(15, 42, 68, 0.85),
    rgba(15, 42, 68, 0.4)
  );
  display: flex;
  align-items: center;
  padding: 0 250px;
}

.hero-content {
  max-width: 700px;
  color: white;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.hero-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4 0px;
  font-size: 14px;
  opacity: 0.9;
}

/* card-section */
.home-section {
  padding: 100px 120px;
  background: #ffffff;
}


.home-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.home-card {
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 40px;
  background: #ffffff;
  transition: all 0.35s ease;
}

.home-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  border-color: #2563eb;
}

.card-line {
  display: block;
  width: 40px;
  height: 3px;
  background: #2563eb;
  margin-bottom: 20px;
  border-radius: 5px;
}

.home-card h3 {
  font-size: 22px;
  color: #0f2a44;
  margin-bottom: 12px;
}

.home-card p {
  font-size: 15px;
  line-height: 1.8;
  color: #475569;
  margin-bottom: 30px;
}

.home-card a {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}

/* About Us Features */

.about-features {
  background: #f2fbff;
  padding: 100px 120px;
}

.about-label {
  text-align: center;
  letter-spacing: 2px;
  font-size: 14px;
  color: #64748b;
  margin-bottom: 20px;
}

.about-heading {
  text-align: center;
  font-size: 44px;
  color: #0f2a44;
  max-width: 900px;
  margin: 0 auto 80px;
  line-height: 1.3;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.about-text h3 {
  font-size: 20px;
  color: #0f2a44;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 15px;
  line-height: 1.7;
  color: #334155;
  margin-bottom: 20px;
}

.about-quote {
  font-style: italic;
  color: #0f2a44;
}

.read-more-btn {
  margin-top: 20px;
  background: transparent;
  border: 2px solid #2563eb;
  color: #2563eb;
  padding: 12px 26px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

/* Medical Section */

.medical-section {
  padding: 100px 120px;
  background: #ffffff;
}

.medical-label {
  text-align: center;
  letter-spacing: 2px;
  font-size: 14px;
  color: #64748b;
  margin-bottom: 10px;
}

.medical-heading {
  text-align: center;
  font-size: 46px;
  color: #0f2a44;
  margin-bottom: 70px;
}

.medical-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.medical-card {
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.2s ease;
}

.medical-card:hover {
  transform: translateY(-6px);
}

.medical-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.medical-card-content {
  padding: 30px;
}

.medical-card-content h3 {
  font-size: 22px;
  color: #0f2a44;
  margin-bottom: 12px;
}

.medical-card-content p {
  font-size: 15px;
  line-height: 1.7;
  color: #475569;
  margin-bottom: 20px;
}

.medical-card-content a {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}

/* book appointment */
.cta-section {
  background: #1488f5;
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-section h2 {
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.cta-btn {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 14px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* why choose us */
.why-section {
  padding: 100px 120px;
  background: #ffffff;
}

.why-container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 60px;
  align-items: center;
}

.why-content h1 {
  font-size: 48px;
  color: #0f2a44;
  margin-bottom: 20px;
}

.why-intro {
  font-size: 16px;
  line-height: 1.7;
  color: #475569;
  margin-bottom: 40px;
}

.why-item h3 {
  font-size: 22px;
  color: #0f2a44;
  margin-bottom: 8px;
}

.why-item p {
  font-size: 15px;
  line-height: 1.7;
  color: #475569;
}

.why-content hr {
  border: none;
  border-top: 1px solid #0f2a44;
  margin: 30px 0;
}

.why-image {
  background: #f2fbff;
  padding: 30px;
  border-radius: 20px;
}

.why-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* Doctor cards */
.team-section {
  background: #f2fbff;
  padding: 100px 120px;
  text-align: center;
}

.team-label {
  font-size: 14px;
  letter-spacing: 2px;
  color: #64748b;
  margin-bottom: 10px;
}

.team-heading {
  font-size: 48px;
  color: #0f2a44;
  margin-bottom: 70px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.team-card h3 {
  font-size: 20px;
  color: #0f2a44;
  margin-top: 20px;
  margin-bottom: 6px;
}

.team-card p {
  font-size: 14px;
  color: #475569;
}

.team-image {
  /* background: #dbeaf0; */
  border-radius: 20px;
  padding: 20px;
}

.team-image img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

/* ReviewCard */
.testimonials-section {
  padding: 100px 120px;
  background: #ffffff;
}

.testimonials-label {
  font-size: 14px;
  letter-spacing: 2px;
  color: #64748b;
  margin-bottom: 10px;
}


.testimonials-heading {
  font-size: 46px;
  color: #0f2a44;
  margin-bottom: 60px;
}


.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}


.testimonial-card {
  border: 1px solid #000;
  border-radius: 14px;
  padding: 40px;
  background: #fff;
}

.stars {
  color: #fbbf24;
  font-size: 18px;
  margin-bottom: 20px;
}

.testimonial-text {
  font-size: 15px;
  line-height: 1.7;
  color: #334155;
  margin-bottom: 30px;
}

/* User */
.testimonial-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.testimonial-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-user span {
  font-size: 15px;
  color: #0f2a44;
  font-weight: 500;
}

.testimonials-heading,
.testimonials-label {
  text-align: center;
}

.testimonial-card {
  border: 1px solid #e5e7eb;
}


.testimonial-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* Semifooter */
.help-section {
  background-size: cover;
  background-image: url("../../assets/home3.jpg");
  background-position: center;
  color: white;
}

.help-overlay {
  background: rgba(0, 0, 0, 0.65);
  padding: 100px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help-left h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.help-left p {
  font-size: 15px;
  line-height: 1.7;
  max-width: 400px;
}

.help-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.help-right span {
  font-size: 14px;
  opacity: 0.9;
}

.help-right h3 {
  font-size: 26px;
  margin-top: 5px;
}

.divider {
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.4);
}

/* FOOTER */
.footer {
  background: #ffffff;
  padding: 80px 120px 30px;
}

.footer-top {
  display: grid;
  grid-template-columns: 1.2fr repeat(3, 1fr);
  gap: 60px;
  margin-bottom: 60px;
}

.footer-brand img {
  width: 50px;
  margin-bottom: 15px;
}

.footer-brand p {
  font-size: 14px;
  color: #334155;
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-col h4 {
  font-size: 14px;
  letter-spacing: 1px;
  color: #0f2a44;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-col a {
  display: block;
  font-size: 14px;
  color: #334155;
  margin-bottom: 12px;
  text-decoration: none;
}

.footer-col:hover a {
  color: #006edc;
}

/* FOOTER BOTTOM */
.footer-bottom {
  border-top: 1px solid #e5e7eb;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #334155;
}

.footer-bottom a {
  text-decoration: none;
  color: #334155;
}