.condition-hero {
    height: 55vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero-overlay h1 {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
}

.services-section {
    padding: 150px;
    background: #ffffff;
}

.services-section h1 {
    font-size: 48px;
    color: #0f2a44;
    margin-bottom: 15px;
}

.services-desc {
    max-width: 900px;
    font-size: 16px;
    line-height: 1.7;
    color: #334155;
    margin-bottom: 60px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
}

.service-card:nth-child(1),
.service-card:nth-child(2) {
    grid-column: span 3;
}

.service-card:nth-child(3),
.service-card:nth-child(4),
.service-card:nth-child(5) {
    grid-column: span 2;
}

.service-card {
    border:  1px solid #e5e7eb;
    border-radius: 14px;
    overflow: hidden;
    background: #fff;
    transition: transform 0.2s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card-content {
    padding: 30px;
}

.card-content h3 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #0f2a44;
}

.card-content p {
    font-size: 15px;
    line-height: 1.7;
    color: #475569;
    margin-bottom: 20px;
}

.learn-more {
    color: #2563eb;
    font-weight: 600;
    text-decoration: none;
}

.cta-section {
    background: #1488f5;
    padding: 80px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-section h2 {
    color: white;
    font-size: 36px;
    font-weight: 600;
}

.cta-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 14px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.info-section {
    background: #f2fbff;
    padding: 100px 190px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.info-card h3 {
    font-size: 20px;
    color: #0f2a44;
    margin-bottom: 10px;
}

.info-card p {
    font-size: 15px;
    line-height: 1.7;
    color: #334155;
    margin-bottom: 15px;
}

.info-card a {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}

.info-divider {
  margin: 60px 0;
  border: none;
  border-top: 1px solid #0f2a44;
}