/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section */
.about-hero {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dark overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  padding: 150px;
}

/* Hero text */
.overlay h1 {
  color: #ffffff;
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 1px;
  animation: fadeDown 1.2s ease-in-out;
}

/* Content section */
.about-content {
  padding: 80px 140px;
  background-color: #ffffff;
}

.about-content h4 {
  font-size: 32px;
  line-height: 1.5;
  color: #0f2a44;
  font-weight: 500; 
}

.about-details {
  padding: 0px 130px;
}

.hospital-image {
  width: 1250px;
  border-radius: 16px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  color: #1f2937;
  margin-bottom: 20px;
}

.vision-mission {
  background-color: #f2fbff;
  padding: 100px 130px;
}

.vm-row {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 185px;
  align-items: start;
}

.vm-title{
  font-size: 14px;
  letter-spacing: 2px;
  color: #0f2a44;
  font-weight: 600;
}

.vm-content{
  font-size: 22px;
  line-height: 1.7;
  color: #0f2a44;
  max-height: 900px;
}

.vm-divider {
  border: none;
  border-top: 1px solid #0f2a44;
  margin: 80px 0;
}