* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
}

/* Emergency Component */
.emerg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: white;
  font-size: larger;
}

.emer_main {
  background-color: #0a84ff;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;

}

/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  padding: 14px 40px;
  gap: 50px;
  width: 100%;
  box-sizing: border-box;
}

.logo-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  color: #0f2a44;
  margin-right: 350px;
  position: relative;
  left: 100px;
}

.nav-link {
  color: #64748b;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.nav-link:hover {
  color: #0a84ff;
}

.nav-link.active {
  color: #0a84ff;
  font-weight: 600;
}

.apn-btn {
  margin-left: 20px;
  padding: 12px 32px;
  border-radius: 8px;
  background-color: #0a84ff;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  left: 300px;
}

.apn-btn:hover {
  background-color: #006edc;
}

/* School of Medicine */
.school-page {
  background-color: #ffffff;
}

.school-hero {
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.school-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  padding: 150px 220px; 
}

.school-overlay h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
}

.school-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
}

.school-intro {
  font-size: 29px;
  color: #1f2d3d;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.6;
}

.school-image-box {
  width: 100%;
  margin-bottom: 40px;
}

.school-image-box img {
  width: 100%;
  height: auto;
  border-radius: 14px;
  object-fit: cover;
}

.school-content p {
  font-size: 17px;
  color: #4a4a4a;
  line-height: 1.8;
  margin-bottom: 18px;
}

/* Semifooter */
.help-section {
  background-size: cover;
  background-image: url("../../../assets/home3.jpg");
  background-position: center;
  color: white;
}

.help-overlay {
  background: rgba(0, 0, 0, 0.65);
  padding: 100px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help-left h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.help-left p {
  font-size: 15px;
  line-height: 1.7;
  max-width: 400px;
}

.help-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.help-right span {
  font-size: 14px;
  opacity: 0.9;
}

.help-right h3 {
  font-size: 26px;
  margin-top: 5px;
}

.divider {
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.4);
}

/* FOOTER */
.footer {
  background: #ffffff;
  padding: 80px 120px 30px;
}

.footer-top {
  display: grid;
  grid-template-columns: 1.2fr repeat(3, 1fr);
  gap: 60px;
  margin-bottom: 60px;
}

.footer-brand img {
  width: 50px;
  margin-bottom: 15px;
}

.footer-brand p {
  font-size: 14px;
  color: #334155;
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-col h4 {
  font-size: 14px;
  letter-spacing: 1px;
  color: #0f2a44;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-col a {
  display: block;
  font-size: 14px;
  color: #334155;
  margin-bottom: 12px;
  text-decoration: none;
}

.footer-col:hover a {
  color: #006edc;
}

/* FOOTER BOTTOM */
.footer-bottom {
  border-top: 1px solid #e5e7eb;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #334155;
}

.footer-bottom a {
  text-decoration: none;
  color: #334155;
}